<h1><span data-i18n="skills.my_skills">About Me</span></h1>

<div class="root">
  <!--Front-end Developer Hako also loves Back-end tech. <br />
  Major is Computer Engineering. I'm real to Angular and ES6. In my free time
  usually enjoy the Community about IT and Human. It's helpful to make good
  colleague and network. <br />
  In post corona still have a dream to work abroad as a good developer. <br />
  My best development policy is  <strong>'Fake it until you make it'</strong><br /><br />-->

  프론트엔드 개발자이자 백엔드 기술을 좋아하는 <strong>Hako</strong> 입니다. <br />
  현업에서<mark>Nextjs</mark> 웹 프로덕션 풀스택으로 개발하고 있습니다. 
  요즘 개인적인 시간에는 <strong>Page Optimization</strong>, <strong> UI/UX </strong>,<strong>GA</strong>를 
  공부합니다.
  지속적인 성장을 꿈꾸며 <strong>'Fake it until you make it'</strong>, <strong></strong>'작게 꾸준히' 를 
  개발 모토로 삼고 있습니다. <br />
  저와 함께 온라인 협업으로 재밌는 작업물을 만드실 분은 메일을 남겨주세요!

  <div class="miniBlock">
    <div>메인 기술: <roundMark>Next.js</roundMark>, <roundMark>typeScript</roundMark>,<roundMark>javaScript</roundMark> </div>
    <div>관심 분야: <roundMark>Art</roundMark>, <roundMark>Data Visualization</roundMark>, <roundMark>Web Optimization</roundMark>,<roundMark>GA</roundMark> </div>
  </div>
</div>

<style>

  .root{
    margin-bottom:30px;
  }

  .miniBlock{
    margin-top: 20px;
    
  }
  .miniBlock > div{
    margin-top: 10px;
  }

  roundMark{
    border-radius: 11px;
    border: navy 2px solid;
    font-weight: bold;
    color: black;
    padding: 1px 7px;
  }


  mark {
    background-color: black;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
  }
</style>
