<h1><span data-i18n="skills.my_skills">About Me</span></h1>

<div>
  Front-end Developer Hako also loves Back-end tech. <br />
  Major is Computer Engineering. I'm real to Angular and ES6. In my free time
  usually enjoy the Community about IT and Human. It's helpful to make good
  colleague and network. <br />
  In post corona still have a dream to work abroad as a good developer. <br />
  My best development policy is  <strong>'Fake it until you make it'</strong><br /><br />

  프론트엔드 개발자이자 백엔드 기술을 좋아하는 Hako 입니다. <br />
  현업에서 Nextjs 웹 프로덕션 풀스택으로 개발하고 있습니다. 
  가장 중점적으로 사용하는 기술은 <strong>javaScript</strong> 이며 관심있는 분야는 <mark>CI/CD</mark>,<mark>D3js</mark>, <mark>data visualization</mark> 입니다.
  사이트의 <mark>Optimazation</mark>과 메세지를 시각적으로 전달하기 위한 <mark> UI/UX </mark> 개발을 공부하고 있습니다. <br />
  <strong>'Fake it until you make it'</strong>을 개발 모토로 삼고 있습니다. <br />
  온라인 협업과 <mark>Github</mark> 협업을 좋아하고 오픈소스와 재밌는 작업물을
  개발하는데 관심 있습니다. 함께 개발을 원하시는 분은 메일 남겨주세요.
</div>

<style>
  mark {
    background-color: black;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
  }
</style>
