<h1><span data-i18n="skills.my_skills">Project Experience</span></h1>

<div class="row">
  <div class="col" style="margin-bottom: 15px">
    <h2 style="margin: 0">KT Cloud (20.11~21.02)</h2>
    <span style="margin: 0">
      - KT Cloud 사이트 리뉴얼 프로젝트<br />
      - Nextjs 웹 프레임워크 기반 페이지 프론트단 개발 <br />
      - 템플릿 특징 페이지 MDX 적용 <br />
      - react 오픈 라이브러리 css 커스텀 <br />
      - Google build, cloud run (docker) 이용 테스트 서버 구축 <br />
    </span>
    <a href="https://cloud.kt.com/"> KT Cloud</a>
  </div>
  <div class="col" style="margin-bottom: 15px">
    <h2 style="margin: 0">Stayjungle Commercial site (20.07~ 20.11)</h2>
    <span style="margin: 0">
      - 스테이정글 고객 커머셜 웹 사이트 유지보수 및 마이그레이션<br />
      - Nextjs 웹 프레임워크 기반 페이지 구현 <br />
      - 테스트 주도 개발 (jest) <br />
      - 관계형 객체 mapper (Sequelize) <br />
      - AWS Lightsail <br />
      - NginX (pm2 hosting, 도메인 요청 분할 처리) <br />
      - 개발 팀내 협업 문화 조성 (스프린트 회의, 팀 정기 개발 회고, 코드 리뷰
      등)
      <br />
    </span>
    <a href="https://www.stayjungle.com/"> Stayjungle</a>
  </div>
  <div class="col" style="margin-bottom: 15px">
    <h2 style="margin: 0">다시재판 (2020)</h2>
    <span style="margin: 0">
      - 시민참여형 성폭력 피해자 연대 목적 웹 사이트<br />
      - 여성가족부 청년 성평등 프로그램 '버터나이프크루'에 ITPAS 팀 소속<br />
      - 사이트 기획 및 웹 개발 참여 <br />
      - Nextjs 프레임워크 <br />
      - Vercel 호스팅 <br />
    </span>
    <a href="https://retrial.misogynyx.com/"> 다시재판</a>
  </div>
  <div class="col" style="margin-bottom: 15px">
    <h2 style="margin: 0">Subply</h2>
    <span style="margin: 0">
      - 번역 크라우드 소싱 웹 애플리케이션 (toy project) <br />
      - Web Full Stack 2인 팀 <br />
      - Angular9 프레임워크 기반 사이트 구축 <br />
      - Express(Nodejs server) <br />
      - Naver cloud platform hosting<br />
    </span>
    <a href="http://subply.click"> Subply</a>
    <a href="https://github.com/subply/subply">
      <i class="fa fa-fw fa-github"></i>GitHub
    </a>
  </div>

  <div class="col" style="margin-bottom: 15px">
    <h2 style="margin: 0">Bldog</h2>
    <span style="margin: 0">
      - 동물보호소를 위한 블록체인 동물 기록관리 웹 애플리케이션 (capston
      design)<br />
      - 4인 팀에서 Web Full Stack 담당 <br />
      - Angular8 Dynamic typing <br />
      - NodeJs/Express for API <br />
      - Public blockchain- Hyperledger fabric composer <br />
      - AWS EC2 Web distribution (Linux) <br />
    </span>

    <a href="https://github.com/OHHAKO/BLDOG"
      ><i class="fa fa-fw fa-github"></i>GitHub</a
    >
  </div>

  <div class="col">
    <h2 style="margin: 0">미허용 소프트웨어 감지 시스템</h2>
    <span style="margin: 0">
      - 미허용 소프트웨어 감지 제어 시스템 (모교 건물 시연) <br />
      - 5인 팀에서 2인 Web 담당 <br />
      - PUB-SUB Real time messaging by MQTT Protocol <br />
      - Tomcat 서버 <br />
      - Java VO, XML to TEXT <br />
      - JavaScript기반 Ajax HTTP 통신 <br />
    </span>

    <a href="https://github.com/OHHAKO/Meercat"
      ><i class="fa fa-fw fa-github"></i>GitHub</a
    >
  </div>
</div>

<!-- <h1><span data-i18n="skills.my_skills">Projects</span></h1>

{% for project in site.data.index.projects %}
    <div class="row">
            <div class="col">
                <h2 style="margin: 0">{{ project.name }}</h2>
                <p style="margin: 0">{{ project.descr }}</p>

                {% if project.github %}
                <a href="{{ project.github }} "><i class="fa fa-fw fa-github"></i>GitHub</a>
                {% endif %}
                {% if project.website %}
                <a href="{{ project.website }} "><i class="fa fa-fw fa-home"></i>Homepage</a>
                {% endif %}

            </div>
    </div>
{% endfor %} -->
